/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-color: #000;
  --accent-color: #00000099;
  --bg-color: #fff;
  --heart-contur: #000;
  --heart-main-body: #FF0000;
  
  --main-text-font-wght: 400;
  --accent-text-font-wght: 700;

  --main-font: 'Inter Variable';
  --accent-font: 'PressStart2P';
  --heart-sparks: #FF0000;

  --accent-font-weight: 400;

  --main-width: clamp(375px, 70%, 700px);

  --light-gradient:
  repeating-linear-gradient(90deg, transparent , #d3d3d3 2px),
  repeating-linear-gradient(0deg, transparent , #d3d3d3 2px),
  linear-gradient(0deg, #1a1a1a, #e7e7e7);

  --dark-gradient:
  repeating-linear-gradient(90deg, transparent , #000 2px),
  repeating-linear-gradient(0deg, transparent , #000 2px),
  linear-gradient(0deg,  #004306, #007f0c);
}